html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5 ;
}
.container {
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
.header {
    background-color: #00bcd4 ;
    margin: 0;
    padding: 10px;
    color: #fafafa;
}
.content {
    max-width: 50%;
    margin: 1% auto;
    padding: 1%;
    text-align: justify;
    text-justify: inter-word;
    background-color: #fafafa;
    border: none;
    border-radius: 5px;
}
.tombol {
    display: flex;
    justify-content: center;
    gap: 1%;
}
.radioJK {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 1%;
}


h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;

}

label {
	margin-bottom: 5px;
}

input[type="text"] {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
    border-bottom: 1px solid #D66000;
	background-color: transparent;
	font-size: 16px;
    opacity: 0.8;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
}
input[type=text]:focus {
    border-bottom: 3px solid #D66000;
    opacity: 1;
  }  

input[type="button"] {
	background-color: #D6002E;
	color: white;
	padding: 20px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 20px;
    opacity: 1;
}
input[type="button"]:hover{
    opacity: 0.8;
}
#hasil {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
#keterangan {
	font-size: 1rem;
	margin-top: 20px;
}